In [1]:
import pandas as pd
import numpy as np
import matplotlib

In [2]:
df0 = pd.read_csv('datos.txt', skiprows=1, sep=',',header=None,names=["TIMESTAMP","RECORD","batt_volt_Min","logger_temp","short_up_Avg","short_dn_Avg","long_up_Avg","long_dn_Avg","cnr4_T_C_Avg","cnr4_T_K_Avg","long_up_corr_Avg","long_dn_corr_Avg","Rs_net_Avg","Rl_net_Avg","albedo_Avg","Rn_Avg","AirTC_Avg","RH","WS_ms_S_WVT","WindDir_D1_WVT","WindDir_SD1_WVT","Temp_C_Avg(1)","Temp_C_Avg(2)","Temp_C_Avg(3)","Temp_C_Avg(4)","Result1_Avg","Result2_Avg","Result3_Avg","Result4_Avg","Result5_Avg","Result6_Avg","Result7_Avg","Result8_Avg","Result9_Avg","Riego_mm_Tot","Perco_mm_Tot"])

In [3]:
df0['TIMESTAMP'] = pd.to_datetime(df0.apply(lambda x: x['TIMESTAMP'], 1), dayfirst=True)
df0 = pd.DataFrame(df0)

In [4]:
#Solo nos interesan 2 columnas  TIMESTAMP (Fecha) y  AirTC_Avg (Temperatura del aire, ºC) 
df0 = df0[['TIMESTAMP','AirTC_Avg']]

In [5]:
df0.dtypes

TIMESTAMP    datetime64[ns]
AirTC_Avg           float64
dtype: object

In [6]:
#Se crea una columna para las horas, dias, meses y años
df0['Hora']=df0['TIMESTAMP'].dt.hour
df0['Dia']=df0['TIMESTAMP'].dt.day
df0['Mes']=df0['TIMESTAMP'].dt.month
df0['Año']=df0['TIMESTAMP'].dt.year

In [7]:
#Ahora se saca la temperatura media por hora desde el mes que de pide en la actividad
#que en este caso es NOVIEMBRE
dfmedia=df0.set_index('TIMESTAMP').resample('H').mean()

In [8]:
#Se agarran los valores desde noviembre hasta el ultimo dato
dfmedia = dfmedia.loc['2018-11-01 00:00:00':'2019-02-18 07:30:00']

In [9]:
conditions = [
    (dfmedia['AirTC_Avg'] >= 1.5) & (dfmedia['AirTC_Avg'] <= 2.4),
    (dfmedia['AirTC_Avg'] >= 2.5) & (dfmedia['AirTC_Avg'] <= 9.1),
    (dfmedia['AirTC_Avg'] >= 9.2) & (dfmedia['AirTC_Avg'] <= 12.4),
    (dfmedia['AirTC_Avg'] >= 12.5) & (dfmedia['AirTC_Avg'] <= 15.9),
    (dfmedia['AirTC_Avg'] >= 16) & (dfmedia['AirTC_Avg'] <=18),
    (dfmedia['AirTC_Avg'] > 18 )]

choices = [0.5, 1.0, 0.5, 0, -0.5, -1.0]

dfmedia['UF'] = np.select(conditions, choices, default=0)

dfmedia['UF24'] = dfmedia.groupby(['Año','Mes','Dia'])['UF'].transform('sum')

In [10]:
df10 = dfmedia[['AirTC_Avg']]

In [11]:
df10 = df10.resample('D').sum()

In [12]:
df10 ['UF'] = dfmedia['UF24']

#agremamos una nueva columna TMAX que nos motrara la temperastura maxima

dfmedia ['TMAX'] = df0.set_index('TIMESTAMP').resample('D')["AirTC_Avg"].max()

In [13]:
#se muestra la tabla
dfmedia

                     AirTC_Avg  Hora   Dia   Mes     Año   UF  UF24    TMAX
TIMESTAMP
2018-11-01 00:00:00   8.708333   0.0   1.0  11.0  2018.0  1.0  -0.5  29.580
2018-11-01 01:00:00   8.493333   1.0   1.0  11.0  2018.0  1.0  -0.5     NaN
2018-11-01 02:00:00   8.690000   2.0   1.0  11.0  2018.0  1.0  -0.5     NaN
2018-11-01 03:00:00   8.846667   3.0   1.0  11.0  2018.0  1.0  -0.5     NaN
2018-11-01 04:00:00   7.397500   4.0   1.0  11.0  2018.0  1.0  -0.5     NaN
2018-11-01 05:00:00   7.289833   5.0   1.0  11.0  2018.0  1.0  -0.5     NaN
2018-11-01 06:00:00   6.806833   6.0   1.0  11.0  2018.0  1.0  -0.5     NaN
2018-11-01 07:00:00   8.110167   7.0   1.0  11.0  2018.0  1.0  -0.5     NaN
2018-11-01 08:00:00  14.960000   8.0   1.0  11.0  2018.0  0.0  -0.5     NaN
2018-11-01 09:00:00  19.710000   9.0   1.0  11.0  2018.0 -1.0  -0.5     NaN
2018-11-01 10:00:00  22.396667  10.0   1.0  11.0  2018.0 -1.0  -0.5     NaN
2018-11-01 11:00:00  23.853333  11.0   1.0  11.0  2018.0 -1.0  -0.5     NaN
2018-11-01 12:00:00  25.125000  12.0   1.0  11.0  2018.0 -1.0  -0.5     NaN
2018-11-01 13:00:00  26.520000  13.0   1.0  11.0  2018.0 -1.0  -0.5     NaN
2018-11-01 14:00:00  27.380000  14.0   1.0  11.0  2018.0 -1.0  -0.5     NaN
2018-11-01 15:00:00  28.160000  15.0   1.0  11.0  2018.0 -1.0  -0.5     NaN
2018-11-01 16:00:00  28.621667  16.0   1.0  11.0  2018.0 -1.0  -0.5     NaN
2018-11-01 17:00:00  27.438333  17.0   1.0  11.0  2018.0 -1.0  -0.5     NaN
2018-11-01 18:00:00  16.916667  18.0   1.0  11.0  2018.0 -0.5  -0.5     NaN
2018-11-01 19:00:00  14.708333  19.0   1.0  11.0  2018.0  0.0  -0.5     NaN
2018-11-01 20:00:00  14.060000  20.0   1.0  11.0  2018.0  0.0  -0.5     NaN
2018-11-01 21:00:00  13.010000  21.0   1.0  11.0  2018.0  0.0  -0.5     NaN
2018-11-01 22:00:00  12.291667  22.0   1.0  11.0  2018.0  0.5  -0.5     NaN
2018-11-01 23:00:00  10.970000  23.0   1.0  11.0  2018.0  0.5  -0.5     NaN
2018-11-02 00:00:00  10.556667   0.0   2.0  11.0  2018.0  0.5  -9.0  31.350
2018-11-02 01:00:00  10.248333   1.0   2.0  11.0  2018.0  0.5  -9.0     NaN
2018-11-02 02:00:00  10.498333   2.0   2.0  11.0  2018.0  0.5  -9.0     NaN
2018-11-02 03:00:00  11.653333   3.0   2.0  11.0  2018.0  0.5  -9.0     NaN
2018-11-02 04:00:00  12.081667   4.0   2.0  11.0  2018.0  0.5  -9.0     NaN
2018-11-02 05:00:00  12.060000   5.0   2.0  11.0  2018.0  0.5  -9.0     NaN
...                        ...   ...   ...   ...     ...  ...   ...     ...
2019-02-17 02:00:00   6.665500   2.0  17.0   2.0  2019.0  1.0   2.5     NaN
2019-02-17 03:00:00   5.132333   3.0  17.0   2.0  2019.0  1.0   2.5     NaN
2019-02-17 04:00:00   4.533667   4.0  17.0   2.0  2019.0  1.0   2.5     NaN
2019-02-17 05:00:00   4.613000   5.0  17.0   2.0  2019.0  1.0   2.5     NaN
2019-02-17 06:00:00   4.103500   6.0  17.0   2.0  2019.0  1.0   2.5     NaN
2019-02-17 07:00:00   3.756833   7.0  17.0   2.0  2019.0  1.0   2.5     NaN
2019-02-17 08:00:00   9.520167   8.0  17.0   2.0  2019.0  0.5   2.5     NaN
2019-02-17 09:00:00  14.001667   9.0  17.0   2.0  2019.0  0.0   2.5     NaN
2019-02-17 10:00:00  17.100000  10.0  17.0   2.0  2019.0 -0.5   2.5     NaN
2019-02-17 11:00:00  18.585000  11.0  17.0   2.0  2019.0 -1.0   2.5     NaN
2019-02-17 12:00:00  19.195000  12.0  17.0   2.0  2019.0 -1.0   2.5     NaN
2019-02-17 13:00:00  19.400000  13.0  17.0   2.0  2019.0 -1.0   2.5     NaN
2019-02-17 14:00:00  20.386667  14.0  17.0   2.0  2019.0 -1.0   2.5     NaN
2019-02-17 15:00:00  20.845000  15.0  17.0   2.0  2019.0 -1.0   2.5     NaN
2019-02-17 16:00:00  20.533333  16.0  17.0   2.0  2019.0 -1.0   2.5     NaN
2019-02-17 17:00:00  20.065000  17.0  17.0   2.0  2019.0 -1.0   2.5     NaN
2019-02-17 18:00:00  18.021667  18.0  17.0   2.0  2019.0 -1.0   2.5     NaN
2019-02-17 19:00:00  15.321667  19.0  17.0   2.0  2019.0  0.0   2.5     NaN
2019-02-17 20:00:00  12.143333  20.0  17.0   2.0  2019.0  0.5   2.5     NaN
2019-02-17 21:00:00  10.508333  21.0  17.0   2.0  2019.0  0.5   2.5     NaN
2019-02-17 22:00:00   8.463333  22.0  17.0   2.0  2019.0  1.0   2.5     NaN
2019-02-17 23:00:00   7.385667  23.0  17.0   2.0  2019.0  1.0   2.5     NaN
2019-02-18 00:00:00   6.758167   0.0  18.0   2.0  2019.0  1.0   8.0   7.028
2019-02-18 01:00:00   5.966333   1.0  18.0   2.0  2019.0  1.0   8.0     NaN
2019-02-18 02:00:00   5.617833   2.0  18.0   2.0  2019.0  1.0   8.0     NaN
2019-02-18 03:00:00   5.426667   3.0  18.0   2.0  2019.0  1.0   8.0     NaN
2019-02-18 04:00:00   4.739833   4.0  18.0   2.0  2019.0  1.0   8.0     NaN
2019-02-18 05:00:00   4.157333   5.0  18.0   2.0  2019.0  1.0   8.0     NaN
2019-02-18 06:00:00   3.746500   6.0  18.0   2.0  2019.0  1.0   8.0     NaN
2019-02-18 07:00:00   3.418500   7.0  18.0   2.0  2019.0  1.0   8.0     NaN

[2624 rows x 8 columns]

In [14]:
df10 ['UF'] = dfmedia['UF24']

#agremamos una otra columna TMIN que nos mostrara la tempreratura minima

dfmedia ['TMIN'] = df0.set_index('TIMESTAMP').resample('D')["AirTC_Avg"].min()

In [15]:
#se muestra la tabla
dfmedia

,AirTC_Avg,Hora,Dia,Mes,Año,UF,UF24,TMAX,TMIN
TIMESTAMP,,,,,,,,,
2018-11-01 00:00:00,8.708333,0.0,1.0,11.0,2018.0,1.0,-0.5,29.580,6.096
2018-11-01 01:00:00,8.493333,1.0,1.0,11.0,2018.0,1.0,-0.5,NaN,NaN
2018-11-01 02:00:00,8.690000,2.0,1.0,11.0,2018.0,1.0,-0.5,NaN,NaN
2018-11-01 03:00:00,8.846667,3.0,1.0,11.0,2018.0,1.0,-0.5,NaN,NaN
2018-11-01 04:00:00,7.397500,4.0,1.0,11.0,2018.0,1.0,-0.5,NaN,NaN
2018-11-01 05:00:00,7.289833,5.0,1.0,11.0,2018.0,1.0,-0.5,NaN,NaN
2018-11-01 06:00:00,6.806833,6.0,1.0,11.0,2018.0,1.0,-0.5,NaN,NaN
2018-11-01 07:00:00,8.110167,7.0,1.0,11.0,2018.0,1.0,-0.5,NaN,NaN
2018-11-01 08:00:00,14.960000,8.0,1.0,11.0,2018.0,0.0,-0.5,NaN,NaN
2018-11-01 09:00:00,19.710000,9.0,1.0,11.0,2018.0,-1.0,-0.5,NaN,NaN
2018-11-01 10:00:00,22.396667,10.0,1.0,11.0,2018.0,-1.0,-0.5,NaN,NaN
2018-11-01 11:00:00,23.853333,11.0,1.0,11.0,2018.0,-1.0,-0.5,NaN,NaN
2018-11-01 12:00:00,25.125000,12.0,1.0,11.0,2018.0,-1.0,-0.5,NaN,NaN
2018-11-01 13:00:00,26.520000,13.0,1.0,11.0,2018.0,-1.0,-0.5,NaN,NaN
2018-11-01 14:00:00,27.380000,14.0,1.0,11.0,2018.0,-1.0,-0.5,NaN,NaN
2018-11-01 15:00:00,28.160000,15.0,1.0,11.0,2018.0,-1.0,-0.5,NaN,NaN
2018-11-01 16:00:00,28.621667,16.0,1.0,11.0,2018.0,-1.0,-0.5,NaN,NaN
2018-11-01 17:00:00,27.438333,17.0,1.0,11.0,2018.0,-1.0,-0.5,NaN,NaN
2018-11-01 18:00:00,16.916667,18.0,1.0,11.0,2018.0,-0.5,-0.5,NaN,NaN
2018-11-01 19:00:00,14.708333,19.0,1.0,11.0,2018.0,0.0,-0.5,NaN,NaN
2018-11-01 20:00:00,14.060000,20.0,1.0,11.0,2018.0,0.0,-0.5,NaN,NaN
2018-11-01 21:00:00,13.010000,21.0,1.0,11.0,2018.0,0.0,-0.5,NaN,NaN
2018-11-01 22:00:00,12.291667,22.0,1.0,11.0,2018.0,0.5,-0.5,NaN,NaN
2018-11-01 23:00:00,10.970000,23.0,1.0,11.0,2018.0,0.5,-0.5,NaN,NaN
2018-11-02 00:00:00,10.556667,0.0,2.0,11.0,2018.0,0.5,-9.0,31.350,10.020
2018-11-02 01:00:00,10.248333,1.0,2.0,11.0,2018.0,0.5,-9.0,NaN,NaN
2018-11-02 02:00:00,10.498333,2.0,2.0,11.0,2018.0,0.5,-9.0,NaN,NaN
2018-11-02 03:00:00,11.653333,3.0,2.0,11.0,2018.0,0.5,-9.0,NaN,NaN
2018-11-02 04:00:00,12.081667,4.0,2.0,11.0,2018.0,0.5,-9.0,NaN,NaN
2018-11-02 05:00:00,12.060000,5.0,2.0,11.0,2018.0,0.5,-9.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2019-02-17 02:00:00,6.665500,2.0,17.0,2.0,2019.0,1.0,2.5,NaN,NaN
2019-02-17 03:00:00,5.132333,3.0,17.0,2.0,2019.0,1.0,2.5,NaN,NaN
2019-02-17 04:00:00,4.533667,4.0,17.0,2.0,2019.0,1.0,2.5,NaN,NaN
2019-02-17 05:00:00,4.613000,5.0,17.0,2.0,2019.0,1.0,2.5,NaN,NaN
2019-02-17 06:00:00,4.103500,6.0,17.0,2.0,2019.0,1.0,2.5,NaN,NaN
2019-02-17 07:00:00,3.756833,7.0,17.0,2.0,2019.0,1.0,2.5,NaN,NaN
2019-02-17 08:00:00,9.520167,8.0,17.0,2.0,2019.0,0.5,2.5,NaN,NaN
2019-02-17 09:00:00,14.001667,9.0,17.0,2.0,2019.0,0.0,2.5,NaN,NaN
2019-02-17 10:00:00,17.100000,10.0,17.0,2.0,2019.0,-0.5,2.5,NaN,NaN
2019-02-17 11:00:00,18.585000,11.0,17.0,2.0,2019.0,-1.0,2.5,NaN,NaN
2019-02-17 12:00:00,19.195000,12.0,17.0,2.0,2019.0,-1.0,2.5,NaN,NaN
2019-02-17 13:00:00,19.400000,13.0,17.0,2.0,2019.0,-1.0,2.5,NaN,NaN
2019-02-17 14:00:00,20.386667,14.0,17.0,2.0,2019.0,-1.0,2.5,NaN,NaN
2019-02-17 15:00:00,20.845000,15.0,17.0,2.0,2019.0,-1.0,2.5,NaN,NaN
2019-02-17 16:00:00,20.533333,16.0,17.0,2.0,2019.0,-1.0,2.5,NaN,NaN
2019-02-17 17:00:00,20.065000,17.0,17.0,2.0,2019.0,-1.0,2.5,NaN,NaN
2019-02-17 18:00:00,18.021667,18.0,17.0,2.0,2019.0,-1.0,2.5,NaN,NaN
2019-02-17 19:00:00,15.321667,19.0,17.0,2.0,2019.0,0.0,2.5,NaN,NaN
2019-02-17 20:00:00,12.143333,20.0,17.0,2.0,2019.0,0.5,2.5,NaN,NaN
2019-02-17 21:00:00,10.508333,21.0,17.0,2.0,2019.0,0.5,2.5,NaN,NaN
2019-02-17 22:00:00,8.463333,22.0,17.0,2.0,2019.0,1.0,2.5,NaN,NaN
2019-02-17 23:00:00,7.385667,23.0,17.0,2.0,2019.0,1.0,2.5,NaN,NaN
2019-02-18 00:00:00,6.758167,0.0,18.0,2.0,2019.0,1.0,8.0,7.028,3.243
2019-02-18 01:00:00,5.966333,1.0,18.0,2.0,2019.0,1.0,8.0,NaN,NaN
2019-02-18 02:00:00,5.617833,2.0,18.0,2.0,2019.0,1.0,8.0,NaN,NaN
2019-02-18 03:00:00,5.426667,3.0,18.0,2.0,2019.0,1.0,8.0,NaN,NaN
2019-02-18 04:00:00,4.739833,4.0,18.0,2.0,2019.0,1.0,8.0,NaN,NaN
2019-02-18 05:00:00,4.157333,5.0,18.0,2.0,2019.0,1.0,8.0,NaN,NaN
2019-02-18 06:00:00,3.746500,6.0,18.0,2.0,2019.0,1.0,8.0,NaN,NaN
2019-02-18 07:00:00,3.418500,7.0,18.0,2.0,2019.0,1.0,8.0,NaN,NaN

In [16]:
count=[]
for i in range (0,len(df0))
z=df0.TEMP[i]
if(z<1.4):
    j=0
    if(z>1.5 and z<=2.4):
    j=0.5
    
    if(z>2.5 and z<=9.1):
    j=1
    if(z>9.2 and z<=12.4):
    j=0.5
    if(z>12.5 and z<=15.9):
    j=0
    if(z>16 and z<=18):
    j=-0.5
    if(z>18):
        j=-1
        count.append(j)
        df0["UF24"]=count

SyntaxError: invalid syntax (<ipython-input-16-f155c6ecd78d>, line 2)

In [17]:
df1=df0.drop(["AirTC_Avg","Hora","UF24"],1)
df1=df1.drop_duplicates()
f=len(df1)
df1.intex = np.arange(0,f)
df1.head()


df2=pd.DataFRame({})
df2["day"]=df1.Dia
df2["month"]=df1.Mes
df2["year"]=df1.Año
df2.intex = np.arange(0,f)
df2.head()
j=pd.to_datetime(df2)

df1["FECHA"]=j

sns.set(rc={'figure.figsize':(12,9)})

fig, ax = ply.subplots(figsize=(20, 10))


ax.plot(df0.FECHA, df0.TMAX, "o-")
ax.plot(df0.FECHA, df0.TMIN, "o-")
plt.title("Evolucion de temperatutas Minimas y Maximas", size=15)
plt.ylabel("°C", size=14)

fig.autofmt_xdate()

plt.show()

KeyError: "labels ['UF24'] not contained in axis"